body{
    width: 100vw;
    height: 1000vh;
}
*{
    box-sizing: border-box;
    padding: 0;
}

li{
    list-style: none;
}


.div1{
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   padding-left: 50px;

}

.asd{
    width: 300px;
    height: 200px;
    border: 1px solid black;
}